<dialog id="{{ADUid}}" class="ADUcontainer">
    <div class="ADUmodal">
        <h2 class="modal__title">{{ADUtitleText}}</h2>
        {{> Input 
        inputId="login" inputType="text" inputName="login" inputValue=""
        label="Логин" placeholder="" inputText=""
         }}
        {{> Button buttonClass="primary" buttonText="Добавить"}}
    </div>
</dialog>
