.input {
    display: flex;
    flex-direction: column;
    height: 50px;
}

.input__label {
    margin-top: 12px;
    margin-bottom: 6px;
    transform: translateY(1px);
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 13px; 
    font-weight: 500;
    line-height: 13px;
    color: var(--text-secondary-color);
    transition: transform 0.3s ease;
}

.input__element {
    transform: translateY(30px);
    font-size: 13px;
    font-weight: 500;
    color: var(--primary-text-color);
    border: none;
    border-bottom: 1px solid var(--primary-color);
    padding: 0%;
    padding-bottom: 7px;
}

.input__text {
    color: #FF2F2F;
    font-size: 8px;
    line-height: 8px;
    font-weight: 400;
    padding-top: 3px;
    text-align: left;
}

.input__element:focus-visible {
    outline: none;
}

.input__element:not(:placeholder-shown) + .input__label,
  .input__element:focus + .input__label {
    transform: translateY(-15px);
    font-size: 9px;
  }

.input__text--error {
    color: #FF2F2F;
}

.input__hidden {
    display: none;
}
