<div class="login">
    <div class="login__modal">
        <h1 class="login__title">Вход</h1>
        <form 
        action="{{formAction}}" 
        class="login__form">
            {{> Input 
            inputId="login" inputType="text" inputName="login" inputValue="ivanivanov"
            label="Логин" placeholder="" inputText="Неверный логин"
            }}
            {{> Input 
            inputId="password" inputType="password" inputName="password" 
            label="Пароль" placeholder="" inputText=""
            }} 
            {{> Button buttonClass="primary" buttonText="Авторизоваться"}}
            {{> Button buttonClass="link" buttonText="Нет аккаунта?"}}
        </form>
    </div>
</div>
