<div class="container">
    <div class="modal">
        <h2 class="modal__title">Удалить пользователя</h2>
        {{> Input 
        inputId="login" inputType="text" inputName="login" inputValue="ivanivanov"
        label="Логин" placeholder="" inputText=""
         }}
        {{> Button buttonClass="primary" buttonText="Удалить"}}
    </div>
</div>