<div class="{{modalClass}}">
    <div class="{{contentClass}}">
        <h2 class="{{titleClass}}">{{title}}</h2>
        {{> Input 
        divClass="" labelClass="" inputClass="" tempClass=""
        imputId="" inputType="" inputName="" 
        label="" placeholder="" tempText=""
         }}
        {{> Button buttonClass="" buttonText=""}}
    </div>
</div>