.chat {
    display: flex;
    height: 100vh;
}

.chatList {
    display: flex;
    flex-direction: column;
    width: 310px;
    background-color: rgba(251, 251, 251, 1);
    border-right: 1px solid rgba(234, 234, 234, 1);
}

.chatArea {
    display: flex;
    flex-direction: column;
    flex: auto;
}
