.button {
  background-color: initial;
  border: none;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px 0;
  border-radius: 8px;
  cursor: pointer;
}

.button:focus{
  outline: 2px solid #0d9488;
}

.button__primary {
  font-size: 13px;
  line-height: 13px;
  color: var(--background-color);
  background-color: var(--primary-color);
}

.button__link {
  font-size: 11px;
  line-height: 11px;
  color: var(--primary-color);
  background-color: var(--background-color);
}

.button__link--underscore {
  width: 122px;
  height: 32px;
  font-size: 12px;
  line-height: 16px;
  margin: 30px auto 30px auto;
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}

.button__link--gray {
  width: 122px;
  font-size: 14px;
  line-height: 16px;
  margin: 10px auto auto;
  color: #8D8D8D;
  cursor: pointer;
}

.button__link--profile {
  justify-content: left;
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  color: var(--primary-color);
  background-color: var(--background-color);
  border-bottom: 1px solid #EAEAEA;
  border-radius: 0%;
}

.button__link--profileError {
  justify-content: left;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  color: var(--text-error-color);
  background-color: var(--background-color);
  border-bottom: 1px solid #EAEAEA;
  border-radius: 0%;
}

.button__primary--user {
  font-size: 13px;
  line-height: 13px;
  color: var(--background-color);
  background-color: var(--primary-color);
  width: 280px;
  margin-top: 44px;
}

.button__primary--password {
  font-size: 13px;
  line-height: 13px;
  color: var(--background-color);
  background-color: var(--primary-color);
  width: 280px;
  margin-top: 144px;
}
