<div class="{{chatInputClass}}">
    {{> Image avatarSrc="" avatarAlt="" avatarSize=""}}
    {{> Input 
        divClass="" labelClass="" inputClass="" tempClass=""
        imputId="" inputType="" inputName="" 
        label="" placeholder="" tempText=""
         }}
    {{> Button buttonClass="" buttonText=""}}
</div>