<div class="container">
    <div class="modalSmall">
        <div class="modalSmall__add">
            <img 
            class="modalSmall__icon--add"
            src="/icons/add.svg"></img>
            <p class="modalSmall__text">Добавить пользователя</p>
        </div>
        <div class="modalSmall__delete">
            <img 
            class="modalSmall__icon--delete"
            src="/icons/add.svg"></img>
            <p class="modalSmall__text">Удалить пользователя</p>
        </div>
    </div>
</div>
