<ul>
    <li><a href="#" page="chat">Chat</a></li>
    <li><a href="#" page="error404">Error404</a></li>
    <li><a href="#" page="error500">Error500</a></li>
    <li><a href="#" page="emptyLogin">Login: Empty Page</a></li>
    <li><a href="#" page="filledLogin">Login: Filled Page</a></li>
    <li><a href="#" page="wrongLogin">Login: Wrong Login</a></li>
    <li><a href="#" page="wrongPassword">Login: Wrong Password</a></li>
    <li><a href="#" page="addUser">Modal: Add User</a></li>
    <li><a href="#" page="uploadAvatar">Modal: Upload Avatar</a></li>
    <li><a href="#" page="uploadedAvararError">Modal: Uploaded Avatar Error</a></li>
    <li><a href="#" page="noFile">Modal: Uploaded avatar no file</a></li>
    <li><a href="#" page="succesUploadAvatar">Modal: Succeful upload avatar</a></li>
    <li><a href="#" page="deleteUserModal">Modal: Delete User</a></li>
    <li><a href="#" page="signIn">Sign In</a></li>
    <li><a href="#" page="nav">Navigation page</a></li>
</ul>

//add empty chat