<nav>
    <ul>
        <li><a href="#" page="loginPage">Login Page</a></li>
        <li><a href="#" page="signInPage">SignIn Page</a></li>
        <li><a href="#" page="errorPage404">Error Page 404</a></li>
        <li><a href="#" page="errorPage500">Error Page 500</a></li>
        {{!-- <li><a href="#" page="chatPage">Chat Page</a></li>
        <li><a href="#" page="addUser">Modal: Add User</a></li>
        <li><a href="#" page="uploadAvatar">Modal: Upload Avatar</a></li>
        <li><a href="#" page="uploadedAvararError">Modal: Uploaded Avatar Error</a></li>
        <li><a href="#" page="noFile">Modal: Uploaded avatar no file</a></li>
        <li><a href="#" page="succesUploadAvatar">Modal: Succeful upload avatar</a></li>
        <li><a href="#" page="deleteUserModal">Modal: Delete User</a></li>
        <li><a href="#" page="preAddDeleteUserModal">Modal: pre-Add/Delete User</a></li>
        <li><a href="#" page="attachModal">Modal: Attach Something</a></li>
        <li><a href="#" page="profile">User Profile</a></li>
        <li><a href="#" page="profileChangeData">User Profile: Change Data</a></li>
        <li><a href="#" page="profileChangePassword">User Profile: Change Password</a></li>
        <li><a href="#" page="nav">Navigation page</a></li> --}}
    </ul>
</nav>
