.listHeader {
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
}

.listHeader__link {
    text-align: right;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: rgba(153, 153, 153, 1);
    text-decoration: none;
    margin: 21px 0 22px 0;

}

.listHeader__link:active, .listHeader__link:visited, 
.listHeader__link:focus, .listHeader__link:hover {
    cursor: pointer;
}

.listHeader__search {
    margin-bottom: 14px;
    background-color: rgba(239, 239, 239, 1);
    border-radius: 5px;
    border: none;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listHeader__input {
    width: 100%;
    text-align: left;
    border: none;
    background-color: rgba(239, 239, 239, 1);
    background: url('/static/icons/search.svg') no-repeat;
    background-position: 100px;
    padding-left: 35px;
}

.listHeader__input:focus {
    outline: none;
    background-position: 10px;
    text-align: left;
}

.listHeader__input:not(:placeholder-shown){
    background-position: 10px;
}

 .listHeader__input::placeholder {
    margin-left: 20px;
    text-align: center;
 }

 .listHeader__input:focus::placeholder {
    opacity: 0;
 }