<div class="container">
    <div class="modalBig">
        <h2 class="modal__title">Загрузите файл</h2>
        {{> Button buttonClass="link--underscore" buttonText="Выбрать файл на компьютере"}}
        {{> Button buttonClass="primary" buttonText="Поменять"}}
        <p class="modal--error">Нужно выбрать файл</p>  
    </div>
</div>
