<div class="profile">
    <div class="profile__buttonArea">
        {{> Arrow src="/static/icons/arrow-left.svg"}}
    </div>
    <div class="profile__main">
        <div class="profileContainer">
            {{> Image imgSize="40px" contSize="__128" imgSrc="/static/icons/image.svg"}}
            <div class="profile__info">
                {{> UserInput label="Старый пароль" inputType="password" inputValue="ivan" userInputContainerClass="loginChange"}}
                {{> UserInput label="Новый пароль" inputType="password" inputValue="ivanivanov"}}
                {{> UserInput label="Повторите новый пароль" inputType="password" inputValue="ivanivanov"}}
            </div>
    
            {{> Button buttonClass="primary--password" buttonText="Сохранить"}}

            

        </div>
    </div>

</div>