<div class="chatAreaInput">
    <div class="chatAreaInput__attach">
        <div class="modalAttach">
            
        </div>
    </div>
    <div class="chatAreaInput__input">
        <label 
        for="{{inputId}}" 
        class="">
        </label>
        <input 
        type="text" 
        id="{{inputId}}" 
        name="{{inputName}}" 
        value=""
        class="chatAreaInput__input--input" 
        placeholder="Сообщение">
    </div>
    <div class="chatAreaInput__send">
        {{> ArrowButton src="/icons/arrow-right.svg"}}
    </div>
</div>