<div class="chatAreaInput">
    <div class="chatAreaInput__attach">
        <div class="modalAttach">
            <div class="modalAttach__attachment">
                <img 
                class="modalAttach__attachment--icon"
                src="/icons/attachMedia.svg"></img>
                <p class="modalAttach__text">Фото или Видео</p>
            </div>
            <div class="modalAttach__attachment">
                <img 
                class="modalAttach__attachment--icon"
                src="/icons/attachFile.svg"></img>
                <p class="modalAttach__text">Файл</p>
            </div>
            <div class="modalAttach__attachment">
                <img 
                class="modalAttach__attachment--icon"
                src="/icons/attachLocation.svg"></img>
                <p class="modalAttach__text">Локация</p>
            </div>
        </div>
    </div>
    <div class="chatAreaInput__input">
        <label 
        for="{{inputId}}" 
        class="">
        </label>
        <input 
        type="text" 
        id="{{inputId}}" 
        name="{{inputName}}" 
        value=""
        class="chatAreaInput__input--input" 
        placeholder="Сообщение">
    </div>
    <div class="chatAreaInput__send">
        {{> ArrowButton src="/icons/arrow-right.svg"}}
    </div>
</div>