<div class="{{headerClass}}">
    <div class="{{userClass}}">
        {{> Image avatarSrc="" avatarAlt="" avatarSize=""}}
        <p class="{{userNameClass}}">{{userName}}</p>
    </div>
    {{> Image avatarSrc="" avatarAlt="" avatarSize=""}} //avatar will work as icon 


</div>