<div class="profile">
    <div class="profile__buttonArea">
        {{> Arrow 
            src="/icons/arrow-left.svg"
        }}
    </div>
    <div class="profile__main">
        <div class="profileContainer">
            {{> Image imgSize="40px" contSize="__128" imgSrc="/icons/image.svg"}}
            <p class="profile__title">Иван</p>
            <div class="profile__info">
                {{> UserData userKey="Почта" userValue="pochta@yandex.ru"}}
                {{> UserData userKey="Логин" userValue="ivanivanov"}}
                {{> UserData userKey="Имя" userValue="Иван"}}
                {{> UserData userKey="Фамилия" userValue="Иванов"}}
                {{> UserData userKey="Имя в чате" userValue="Иван"}}
                {{> UserData userKey="Телефон" userValue="+7 (909) 967 30 30"}}
            </div>
            <div class="profile__actions">
                {{> Button buttonClass="link--profile" buttonText="Изменить данные"}}
                {{> Button buttonClass="link--profile" buttonText="Изменить пароль"}}
                {{> Button buttonClass="link--profileError" buttonText="Выйти"}}
            </div>
        </div>
    </div>
</div>
