<div class="{{headerClass}}">
    <div class="{{userClass}}">
        {{> Avatar avatarSrc="" avatarAlt="" avatarSize=""}}
        <p class="{{userNameClass}}">{{userName}}</p>
    </div>
    {{> Avatar avatarSrc="" avatarAlt="" avatarSize=""}} //avatar will work as icon 


</div>