<div class="container">
    <div class="modal">
        <h2 class="modal__title">Файл загружен</h2>
        {{> Button buttonClass="link--gray" buttonText="pic.jpg"}}
        {{> Button buttonClass="primary" buttonText="Поменять"}}
    </div>
</div>
