:root {
    --primary-color: #3369F3;
    --secondary-color: #EFEFEF;
    --background-color: #FFF;
    --chat-bg-color: #F8F8F8;
    --text-primary-color: #1E1E1E;
    --text-secondary-color: #999;
    --text-error-color: #FF2F2F;
    --shadow-color: rgb(0 0 0 / 14%);
    --font: 'inter', sans-serif;
}

body {
    font-family: var(--font);
}
