<div class="{{loginClass}}">
    <form 
    action="{{formAction}}" 
    class="{{formClass}}">
        {{> Input 
        divClass="" labelClass="" inputClass="" tempClass=""
        imputId="" inputType="" inputName="" 
        label="" placeholder="" tempText=""
         }}
        {{> Input 
        divClass="" labelClass="" inputClass="" tempClass=""
        imputId="" inputType="" inputName="" 
        label="" placeholder="" tempText=""
         }}
        {{> Button buttonClass="" buttonText=""}}
        {{> Button buttonClass="" buttonText=""}}
    </form>
</div>


