<div class="login">
    <div class="login__modal">
        <h1 class="login__title">Вход</h1>
        <form 
        action="{{formAction}}" 
        class="login__form">
            {{> Input 
            inputId="" inputType="" inputName="" 
            label="Логин" placeholder="" inputText=""
            }}
            {{> Input 
            inputId="" inputType="" inputName="" 
            label="Пароль" placeholder="" inputText="some"
            }}
            {{> Button buttonClass="primary" buttonText="Авторизоваться"}}
            {{> Button buttonClass="link" buttonText="Нет аккаунта?"}}
        </form>
    </div>
</div>


