<div class="{{userProfileClass}}">
    {{> Avatar avatarSrc="" avatarAlt="" avatarSize=""}}
    <div class="{{userInfoClass}}">
        {{> Input 
        divClass="" labelClass="" inputClass="" tempClass=""
        imputId="" inputType="" inputName="" 
        label="" placeholder="" tempText=""
         }}
         {{> Input 
        divClass="" labelClass="" inputClass="" tempClass=""
        imputId="" inputType="" inputName="" 
        label="" placeholder="" tempText=""
         }}
         {{> Input 
        divClass="" labelClass="" inputClass="" tempClass=""
        imputId="" inputType="" inputName="" 
        label="" placeholder="" tempText=""
         }}
         {{> Input 
        divClass="" labelClass="" inputClass="" tempClass=""
        imputId="" inputType="" inputName="" 
        label="" placeholder="" tempText=""
         }}
         {{> Input 
        divClass="" labelClass="" inputClass="" tempClass=""
        imputId="" inputType="" inputName="" 
        label="" placeholder="" tempText=""
         }}
         {{> Input 
        divClass="" labelClass="" inputClass="" tempClass=""
        imputId="" inputType="" inputName="" 
        label="" placeholder="" tempText=""
         }}
        
        {{> Button buttonClass="" buttonText=""}}
    </div>
    {{> Button buttonClass="" buttonText=""}} //arrow button
</div>


